.item-group {
  margin-bottom: 72px;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .box {
      margin: 15px;
      &:hover {
        cursor: pointer;
      }
    }
    .spin {
      margin: 30px auto;
    }
  }
}