.login-form {
  width: 300px;
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    margin-top: 91px;
    width: 100%;
  }
}

.register-form {
  width: 300px;
  .register-submit-btn {
    width: 100%;
  }
}

.apply-form {
  width: 500px;
}